header {
    background-color: rgba(255, 255, 255, 0.425);
    padding: 0;
    border-bottom: 1px solid #dadada38;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    * {
        box-sizing: border-box;
    }
}


a.logo{
    font-weight: bold;
    padding: 0.5em 1em 0.5em 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 4em;
    color: rgb(5, 5, 5);
}

nav{
    padding: 1.25em 1em 0.5em 0.5em;
    ul {
        list-style-type: none;
        margin: 0;
        display: flex;
    }
    a {
        padding: 1em;
        display: inline-block;
        color: black;
        text-shadow: 2px 2px rgba(122, 122, 122, 0.445);
    }
}

