<header>
    <a href="#" routerLink="/" class="logo">Tp</a>

     <button class="hamburger" (click)="toggleMenu()" [class.open]="isOpen">
        <span></span>
        <span></span>
        <span></span>
    </button>
    @if(isOpen){
        <div class="overlay" (click)="toggleMenu()"></div>
    }
    <nav [class.open]="isOpen" [class.side-menu]="isOpen">
        <ul>
            <li><a href="#" (click)="toggleMenu()" routerLink="/achievements" >Osiągnięcia</a></li>
            <li><a href="" (click)="toggleMenu()">Przemiany</a></li>
            <li><a href="" (click)="toggleMenu()">O mnie</a></li>
            <li><a href="" (click)="toggleMenu()">Umów trening</a></li>
            <li><a href="" (click)="toggleMenu()">Kontakt</a></li>
        </ul>
    </nav>
</header>