header {
    background-color: rgba(255, 255, 255, 0.425);
    padding: 0;
    border-bottom: 1px solid #dadada38;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    * {
        box-sizing: border-box;
    }
}


a.logo{
    font-weight: bold;
    padding: 0.5em 1em 0.5em 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 4em;
    color: #111827;
}

nav{
    padding: 1.25em 1em 0.5em 0.5em;
    ul {
        list-style-type: none;
        margin: 0;
        display: flex;
    }
    a {
        position: relative;
        padding: 1em;
        display: inline-block;
        color: black;
        text-shadow: 1px 1px #799dff5e;
        transition: text-shadow 0.5s ease;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;      // jak daleko ma być od tekstu
            width: 0%;
            height: 1px;
            background-color: #2563EB; // kolor linii
            transition: width 0.3s ease;
        }
        &:hover::after{
            width: 100%;
        }
        &:hover {
            text-shadow: 2px 2px #799dffb0; // tu musi być animacja!
        }
    }


    
}

