<header>
    <a href="#" routerLink="/" class="logo">Tp</a>

     <button class="hamburger" (click)="toggleMenu()" [class.open]="isOpen">
        <span></span>
        <span></span>
        <span></span>
    </button>
    @if(isOpen){
        <div class="overlay" (click)="toggleMenu()"></div>
    }
    <nav [class.open]="isOpen" [class.side-menu]="isOpen">
        <ul>
            <li><a href="">Osiągnięcia</a></li>
            <li><a href="">Przemiany</a></li>
            <li><a href="">O mnie</a></li>
            <li><a href="">Umów trening</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav>
</header>