.form-content{
    display: flex;
    flex-direction: column;
    padding: 3em;
    .text-area-field textarea{
        height: 200px;
    }
    button {
        width: 100px;
        margin-top: 1em;
        align-self: flex-end;
        font-size: 18px;
    }


}