<div class="form-content">
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input
            matInput
            placeholder="mojemail@gmail.com"
            [formControl]="email"
            (blur)="updateErrorMessageEmail()"
            required
        />
        @if (email.invalid) {
        <mat-error>{{errorMessageEmail()}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="input-field" appearance="fill">
        <mat-label>Tytuł</mat-label>
         <input
            matInput
            [formControl]="title"
            (blur)="updateErrorMessageTitle()"
            required
        />
        @if (title.invalid) {
        <mat-error>{{errorMessageTitle()}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="text-area-field" appearance="fill">
        <mat-label>Treść</mat-label>
        <textarea 
            matInput
            [formControl]="text"
            (blur)="updateErrorMessageText()"
            required></textarea>
        @if (text.invalid) {
        <mat-error>{{errorMessageText()}}</mat-error>
        }
    </mat-form-field>
    <mat-checkbox [formControl]="checked" >Wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z ustawą o ochronie danych osobowych w związku z wysłaniem zapytania przez powyższy formularz kontaktowy. Podanie danych jest dobrowolne, ale niezbędne do przetworzenia zapytania. Zostałem poinformowany, że przysługuje mi prawo dostępu do moich danych, możliwości ich poprawiania, żądania zaprzestania ich przetwarzania. <span style="color: brown;">*</span>
        <mat-error class="error-chcekbox">{{errorMessageChcekBox()}}</mat-error> <!-- Nie jest w @if aby nie przesuwał przycisku jak się pojawi -->
    </mat-checkbox>
    <button matButton="filled" (click)="buttonClick()">Wyślij</button>
</div>
