$primary: #2563EB;
$primary-dark: #1E3A8A;
$text-main: #111827;
$text-secondary: #4B5563;
$light-bg: #F7F9FC;
$card-border: #E5E7EB;


.container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 40px;
        margin-bottom: 40px;
        font-weight: 700;
    }
    mat-card {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap:14px;
        border-radius: 1%;
        background: #f4f9ff;
        border: 1px solid #cfd9e6;
        padding: 25px;
        margin-bottom: 35px;
        margin: 2vw 20% 2vw 20%;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.08);
        transition: 0.2s ease;

        &:hover {
          transform: translateY(-4px);
          border-color: $primary;
          box-shadow: 0 6px 16px rgba(37, 99, 235, 0.20);
        }
        mat-card-content img {
            width: 200px;
        }
        mat-card-header {
            align-self: flex-start;
            
            text-align: left;
            display: flex;
            flex-direction: column;
            width: 100%;
            mat-card-title{
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
                text-decoration: underline;
            }
            mat-card-subtitle{
                color: #4B5563;
                font-size: 16px;
            }
        
        }
        
        
        @media (max-width: 900px) {

            mat-card-content {
                display: none;
            }
            mat-card-header{
                mat-card-title{
                    font-size: 20px;
                    text-decoration: none;
                }
                mat-card-subtitle{
                color: #4B5563;
                font-size: 15px;
                }
            }
             
        }

    }
}