.carousel-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewport {
  overflow: hidden;
  width: 100%;

}

button{
  width: 2em;
  
}

.track {
  display: flex;
  gap: 32px;
  transition: transform 1s cubic-bezier(0.22, 0.9, 0.36, 1);
  will-change: transform;
  align-items: stretch;
}

.opinion-card {
  background: transparent;
  padding: 16px 8px;
  text-align: center;
  box-sizing: border-box;
  flex: 0 0 calc(100% / 3); 
  min-width: 0; 

  .text {
    margin-bottom: 8px;
    padding: auto 5em auto 5em;
    color: #4B5563;
    font-size: 16px;
  }

  .stars {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .author {
    margin-top: 8px;
    font-style: italic;
    color: #111827;
  }
}

@media (max-width: 699px) {
  .track {
    gap: 16px;
  }
  .opinion-card {
    flex: 0 0 100%;
  }
}


@media (min-width: 700px) and (max-width: 1199px) {
  .track {
    gap: 24px;
  }
  .opinion-card {
    /* szerokość = (100% - gap) / 2  -> przy gap=24px, używamy calc */
    flex: 0 0 calc((100% - 24px) / 2);
  }
}

/* desktop: 3 karty */
@media (min-width: 1200px) {
  .track {
    gap: 32px;
  }
  .opinion-card {
    /* szerokość = (100% - 2*gap) / 3 */
    flex: 0 0 calc((100% - 64px) / 3); /* 2 * 32px gap między trzema elementami */
  }
}