<div class="carousel-row">
    <button mat-icon-button (click)="prev()">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="viewport">
    <!-- track przesuwany przez transform -->
    <div class="track" [style.transform]="'translateX(' + translatePercent + '%)'" >
        @for (op of opinions; track $index) {
            <div class="opinion-card">
                <p class="text">{{ op.text }}</p>
                <div class="stars">★★★★★</div>
                <p class="author">- {{ op.author }}</p>
            </div>
        }
    </div>
    </div>
     <button mat-icon-button (click)="next()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>